/resources/public/js/compiled/**
/resources/public/js/app.js
figwheel_server.log
pom.xml
*jar
/lib/
/classes/
/out/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.repl
.nrepl-port
/.clj-kondo
/.lsp
/node_modules
/.calva
.rebel_readline_history